
<h3>Total Data:@ViewData["TotalData"]</h3>



<body style="background-color:azure;">
    <div class="container" style="max-width:600px;">
        <div class="card"  style="padding-block:23px;    padding-inline-start: 83px;
    padding-inline-end: 38px; background-color: antiquewhite;"> 
   
    <br />
    <h1 align= "center" style="color:red;">Application Form</h1>
    <br />
    <hr />
    <form method="post">
         Id <sup>*</sup>  <br />
        <input type="number" placeholder="Enter Username">
        <br />

        Name <sup>*</sup>  <br />
        <input type="text" placeholder="Enter Username">
        <br />
        <br />
        Email <sup>*</sup> <br />
        <input type="Email" placeholder="Enter Email">
        <br />
        <br />
        Phone  <br />
        <input type="number" placeholder="Enter phone No">
        <br />
         age  <br />
        <input type="number" placeholder="Enter  age">
        <br />
     
       
      @*  <br />
        Departments for Consideration <sup>*</sup>
        <br />
        <input type="checkbox"> Executive 
        <input type="checkbox"> Sales <br> 
        <input type="checkbox" >Marketing 
        <input type="checkbox" >Technology <br>
        <input type="checkbox"> all 
        <br />
        <br />
        Attach any supporting document ( resume, CV, cover letter, etc ) <sup>*</sup>
        <br />
        <input type="file">
        <hr />*@
        <br/>
        <input  class="btn-primary" type="submit" value="Submit" align="center">
        <!-- <button align ="center"></button> -->
    </form>
    </div>
     </div>
</body>
